{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
<h1 class="h1">New Encyclopedia Entry</h1><br>

<form accept="{% url 'new_page' %}" method="POST">
    {% csrf_token %}
    <h3 class="h3">Title</h3>
        <input type="text" name="title" required>
        <br><br>
        <h3 class="h3">Markdown content</h3>
        <textarea name="markdown" rows="20" required></textarea>
        <br>
        <input type="submit" value="Save" class="btn btn-primary">
</form> 
{% endblock %}