{% extends "auctions/layout.html" %}

{% block head %}
<style>
    #index-listing {
    max-width: 80%;
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-align: left;
    color: black;
    margin: 30px 0px 0px 30px;
}

#index-listing:hover {
    border: 2px solid black;
}
img {
    width: 300px;
    border: 1px solid black;
    height: 300px;
    margin-right: 50px;
}

div > h4 {
    font-size: 2rem;
    margin: 0px;
}
h6{
    margin-bottom: 20px;
}
#bid {
    margin-top: 60px;
}
#publisher {
    margin: 30px 0px 0px 0px;
}
a:hover{
    text-decoration: none;
}
</style>
{% endblock %}
{% block body %}
    <h2>Active Listings</h2>
    {% for listing in Listings %}
    <a href="{% url 'listing' listing.title %}">
        <div id="index-listing">
            <IMG SRC='{{listing.url_image}}' alt="image of {{ listing.title }}">
            <div>
                <h4>{{ listing.title }}</h4>
                <h6>{{ listing.category }}</h6>
                <span>{{ listing.description }}</span>
                <h5 id="bid">Current Price: {{ listing.bid }}$</h5>
                <h5>Last Bid: {{ listing.last_bid }}$</h5>
                <h6 id="publisher">Published  by:
                    {% for usr in Users %}
                        {% if listing.user_id == usr.id %}
                            {{ usr.username }}
                        {% endif %}
                    {% endfor %}
                </h6>
                <h6>Created {{ listing.dateTime }}</h6>
            </div>
        </div>
    </a>
    {% endfor %}
    <div style="height: 50px;"></div>
{% endblock %}